.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.loading-container {
    width: 400px;
    text-align: center;
}

.bar-chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    margin-bottom: 20px;
}

.bar-chart-container .bar {
    width: 20px;
    background-color: #fff;
    margin: 0 5px;
    animation: bar-chart-anim 1s infinite ease-in-out;
}

.bar-chart-container .bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar-chart-container .bar:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bar-chart-anim {
    0% { height: 10px; }
    50% { height: 100px; }
    100% { height: 10px; }
}

.loading-bar {
    width: 100%;
    height: 5px;
    background-color: #333;
    border-radius: 5px;
}

.loading-bar-inner {
    width: 0%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.loading-percentage {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
}
