@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
    --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html, body {
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    font-family: "Mona Sans", sans-serif;
}

/* Utilities personnalisées */
@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-col-center {
        @apply flex flex-col justify-center items-center;
    }
}

/* Components personnalisés */
@layer components {
    .padding-x {
        @apply px-5 md:px-10;
    }
    .padding-x-lg {
        @apply px-5 md:px-20;
    }
    .section-padding {
        @apply px-5 md:px-10 md:mt-40 mt-20;
    }

    form {
        label {
            @apply block text-white-50 mb-2;
        }

        input,
        textarea {
            @apply w-full px-4 py-4 md:text-base text-sm placeholder:text-blue-50 bg-blue-100 rounded-md;
        }

        a {
            @apply w-full py-4 bg-white text-black font-semibold rounded-md flex justify-center items-center gap-2;
        }
    }

    /* exemple navbar */
    .navbar {
        @apply fixed w-full left-1/2 py-5 px-5 md:px-20 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out;

        &.scrolled {
            @apply top-0 bg-black;
        }
        &.not-scrolled {
            @apply md:top-10 top-0 bg-transparent;
        }

        .logo {
            @apply text-white-50 text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-105;
        }
    }
}
